<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Asistencia</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div class="container">
    <img src="../../assets/images/NFC.png">
    <h3>Acerca el teléfono</h3>
  </div>

  <ion-card *ngIf="scanned">
    <ion-card-header>
      Parametros NFC recogidos.
      {{tag}}
    </ion-card-header>
    <ion-card-content>
      <p>Account Tag ID: {{ tagId }}</p>
    </ion-card-content>
  </ion-card>

 
</ion-content>
