<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <div id="container" style="margin-bottom: 200px;">
    <ion-button expand="block" (click)="whereIam()">Obtener Coords</ion-button>
    <p>Lat: {{lat}}, Lng: {{lng}}</p>
      {{location}}
  </div>

  <!-- <div style="margin-bottom: 500px;">
    <ion-button expand="block" (click)="postPhoto()">Subir Foto</ion-button>
  </div> -->

  <div style="margin-bottom: 400px;">
    <ion-button expand="block" (click)="uploadPhoto()">Subir Foto a Cloudinary</ion-button>
  </div>

  <div style="margin-bottom: 400px;">
    <ion-button expand="block" (click)="postPhoto()">Heroku</ion-button>
  </div>


  <div style="margin-top: 70px">
    <ion-button style="width: 280px; height: 40px; margin-left: 18px" (click)="showActionSheet()"> 
      Participar Nuevo Reto
    </ion-button>
  </div>
  
  <div style="height: 200px; width: 300px">
    <img src="{{imgURL}}" height="200" width="200">
  </div>


  
  <div style="margin-left: 13px; margin-top: 40px">
    <h1> Retos Recientes</h1>
    {{urlInCloudinary}} 

<ion-list>

  <ion-item style="margin-top: 2px">
    <ion-thumbnail slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-thumbnail>
    <ion-label>
      <ion-row>
        <ion-chip color="success">
          <ion-label>+10</ion-label>
          <ion-icon name="checkmark-circle-outline"></ion-icon>
        </ion-chip>
        <ion-chip color="primary">
          <ion-label>Ciudad</ion-label>
          <ion-icon name="pin" color="primary"></ion-icon>
        </ion-chip>
      </ion-row>
      <ion-row style="margin-top: 3px">
        Información Extra
      </ion-row>
    </ion-label>
  </ion-item>

  <ion-item style="margin-top: 2px">
    <ion-thumbnail slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-thumbnail>
    <ion-label>
      <ion-row>
        <ion-chip color="success">
          <ion-label>+10</ion-label>
          <ion-icon name="checkmark-circle-outline"></ion-icon>
        </ion-chip>
        <ion-chip color="primary">
          <ion-label>Ciudad</ion-label>
          <ion-icon name="pin" color="primary"></ion-icon>
        </ion-chip>
      </ion-row>
      <ion-row style="margin-top: 3px">
        Información Extra
      </ion-row>
    </ion-label>
  </ion-item>

  <ion-item style="margin-top: 2px">
    <ion-thumbnail slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-thumbnail>
    <ion-label>
      <ion-row>
        <ion-chip color="success">
          <ion-label>+10</ion-label>
          <ion-icon name="checkmark-circle-outline"></ion-icon>
        </ion-chip>
        <ion-chip color="primary">
          <ion-label>Ciudad</ion-label>
          <ion-icon name="pin" color="primary"></ion-icon>
        </ion-chip>
      </ion-row>
      <ion-row style="margin-top: 3px">
        Información Extra
      </ion-row>
    </ion-label>
  </ion-item>

</ion-list>

      <!--<ion-item style="margin-top: 13px; margin-bottom: 20px">
        
        <div style="height: 60px; width: 60px; background-color: whitesmoke; margin-right: 20px; border-radius: 10%">
        </div>
        
        <ion-chip color="primary">
          <ion-icon name="pin" color="primary"></ion-icon>
          <ion-label>Ciudad</ion-label>
        </ion-chip>
        <ion-chip color="success">
          <ion-label>+10</ion-label>
          <ion-icon name="checkmark-circle-outline"></ion-icon>
        </ion-chip>
      </ion-item>
     
      <ion-item style="margin-top: 13px">
        <div style="height: 60px; width: 60px; background-color: whitesmoke; margin-right: 20px; border-radius: 10%">
        </div>
        
        <ion-chip color="primary">
          <ion-icon name="pin" color="primary"></ion-icon>
          <ion-label>Ciudad</ion-label>
        </ion-chip>
        <ion-chip color="success">
          <ion-label>+10</ion-label>
          <ion-icon name="checkmark-circle-outline"></ion-icon>
        </ion-chip>
      </ion-item>
      
      <ion-item style="margin-top: 13px">
        <div style="height: 60px; width: 60px; background-color: whitesmoke; margin-right: 20px; border-radius: 10%">
        
        </div>
        
        <ion-chip color="primary">
          <ion-icon name="pin" color="primary"></ion-icon>
          <ion-label>Ciudad</ion-label>
        </ion-chip>
        <ion-chip color="success">
          <ion-label>+10</ion-label>
          <ion-icon name="checkmark-circle-outline"></ion-icon>
        </ion-chip>
        
      </ion-item>-->
    



  </div>
</ion-content>
