<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>DojoApp</h1>
    <img src="assets/logodojo.png" />
  </div>

  <form id="form">
    <ng-template [ngIf]=loginFailed>
      <ion-item lines="full" color="danger">
        <ion-label>
          Credenciales incorrectas
        </ion-label>
      </ion-item>
    </ng-template>

    <ion-item lines="full">
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" [(ngModel)]="username" name="user" required></ion-input>
    </ion-item>

    <ion-item lines="full" [color]="blue">
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="password" name="pass" type="password" required></ion-input>
    </ion-item>
    <ion-button color="danger" expand="block" shape="round" (click)="login()">Login</ion-button>
  </form>

</ion-content>