
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
  .bar{
display:flex;
}

main{
margin:25px;
}

*{
font-family: 'Varela Round', sans-serif;
}

.bar__hour{
color: #eaebf0;
font-weight:500;
display: flex;
align-items: center;
font-size: 23px;
}

.bar__hour::after{
content: "";
display: inline-block;
width: 6px;
margin-right: 15px;
height: 55px;
background: #ad2e24;
border-radius: 5px;
margin-left: 15px;
}

.bar__hour2{
color: #ecedf3;
font-weight:500;
display: flex;
align-items: center;
font-size: 23px;
}

.bar__hour2::after{
content: "";
display: inline-block;
width: 6px;
margin-right: 15px;
height: 55px;
background: #540804;
border-radius: 5px;
margin-left: 15px;
}

.bar__hour__flex{
display: flex;
flex-direction: column;
justify-content: center;
}

.bar__hour__small{
color:#C6C6D0;
font-size: 12px;
padding: 2px;
}

.bar__hour__text{
color: #59595a;
padding:2px;
}


.cuadrado {
    width: 50px; 
    height: 50px; 
    background: #b0b0c2;
    border-radius: 20%;
}

.pbar {
    height: 10px;
    border-radius: 40px;
    animation: prog 2s linear;
}

.cinturon_actual{
  margin-top: 50px;
  margin-left: 16px;
  border-radius: 10px;
  img{
    height: 50px;
    width: 50px;
    margin-left: 13px;
    margin-top: 10px;
  }
}