<ion-content [fullscreen]="true">

  <!-- {{token}} -->
  <!-- {{username}} -->

  <!--Avatar nombre e info------------->
  <ion-row>
    <ion-col style="top: 45px; left:40px">
      <ion-avatar style="height: 85%; width: 50%;">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" >
      </ion-avatar>
    </ion-col>
    <ion-col size="7" style="top: 35px; right: 10px">
      <h5 style="width: 90%;">{{student.completeName}}</h5>
      <ion-chip color="success" style="margin-left: 15%">
        <ion-icon name="flash" color="success"></ion-icon>
        <ion-label>{{student.points}} puntos</ion-label>
      </ion-chip>
    </ion-col>
  </ion-row>

<ion-row>
  <ion-item class="cinturon_actual" style="width: 90%; margin-left: 6%; margin-top: 15%;"> 
    <ion-icon name="medal-sharp" color="tertiary"></ion-icon>
    <ion-label style="margin-left: 20%;">Cinturon Actual</ion-label>
    <!--Imagen Cinturon Alumno-->  
    <img src="{{student.belt.photo}}">
  </ion-item>
</ion-row>

  <!--Siguiente Cinturon-->
  <ion-row>
    <ion-card style="width: 90%; border-radius: 10px; margin-left: 6%;">
      <ion-item>
        <ion-label> Siguiente Cinturón</ion-label>
        <ion-button fill="outline" slot="end" color="danger">{{student.belt.nextBelt}}</ion-button>
      </ion-item>
      <ion-card-content class="ion-text-left">
        <ion-card-subtitle class="ion-text-right">
          {{student.belt.attendedClasses}} / 
          {{student.belt.requiredClasses}}
        </ion-card-subtitle>
        <ion-progress-bar color="danger" class="pbar" value="{{student.belt.attendedClasses / student.belt.requiredClasses }}"></ion-progress-bar>
      </ion-card-content>
    </ion-card>
  </ion-row>

  <!--Proximas Clases-->
  <ion-row >
    <ion-col style="top: 5px; padding-left: 7%; width: 95%;">
    <h3>Próximas Clases</h3>
    <div class="bar">
      <span class="bar__hour">09:30</span>
      <div class="bar__hour__flex">
        <span class="bar__hour__small">22/12/2020</span>
        <span class="bar__hour__text">Principios del Hapkido</span>
      </div>
    </div>
    <br>
    <div class="bar">
      <span class="bar__hour2">11:30</span>
      <div class="bar__hour__flex">
        <span class="bar__hour__small">27/12/2020</span>
        <span class="bar__hour__text">Práctica de Hapkido</span>
      </div>
    </div>
    </ion-col>
  </ion-row>




</ion-content>
