<ion-content [fullscreen]="true">

  <!--Avatar nombre e info------------->
  <ion-row size="1" size-md>
    <ion-col style="top: 45px; left:40px">
      <ion-avatar >
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" >
      </ion-avatar>
    </ion-col>
    <ion-col size="7" style="top: 30px; right: 10px">
      <h5>Nombre y Apellidos</h5>
      <ion-chip>
        <ion-icon name="egg-outline"></ion-icon>
        <ion-label>Principiante</ion-label>
      </ion-chip>
    </ion-col>
  </ion-row>
  <!---------------------------------->

  <!--
<ion-col style="top: 20px">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Próximo cinturón</ion-card-title> 
 
    </ion-card-header>

    <ion-card-content>
        
        
        <ion-item>
          <ion-label>Clases Asistidas</ion-label>
          <ion-badge slot="end">22</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Clases Restantes</ion-label>
          <ion-badge slot="end">22</ion-badge>
        </ion-item>
        
    </ion-card-content>
  </ion-card>
</ion-col> -->
  
  <ion-row>
  
  <ion-col style="top: 50px; left: 20px">
    <div class="cuadrado">
    </div>
  </ion-col>
  <ion-col>
      <ion-progress-bar color="primary" value="0.7" class="pbar"></ion-progress-bar>
  </ion-col>
  
  </ion-row>

  <!--Proximas Clases-->
  <ion-row >
    <ion-col style="top: 180px; left: 8px">
    <h3>Clases esta semana</h3>
    <div class="bar">
      <span class="bar__hour">09:00</span>
      <div class="bar__hour__flex">
        <span class="bar__hour__small">Nombre del Profesor</span>
        <span class="bar__hour__text">Materia de la Clase</span>
      </div>
    </div>
    <br>
    <div class="bar">
      <span class="bar__hour2">11:00</span>
      <div class="bar__hour__flex">
        <span class="bar__hour__small">Nombre del Profesor</span>
        <span class="bar__hour__text">Materia de la Clase</span>
      </div>
    </div>
    </ion-col>
  </ion-row>

  


</ion-content>
