<ion-content [fullscreen]="true">

  <!--Avatar nombre e info------------->
  <ion-row size="1" size-md>
    <ion-col style="top: 45px; left:40px">
      <ion-avatar >
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" >
      </ion-avatar>
    </ion-col>
    <ion-col size="7" style="top: 30px; right: 10px">
      <h5>Nombre y Apellidos</h5>
      <ion-chip>
        <ion-icon name="egg-outline"></ion-icon>
        <ion-label>Principiante</ion-label>
      </ion-chip>
    </ion-col>
  </ion-row>

<ion-row>
  <ion-item class="cinturon_actual"> 
    <ion-icon name="ribbon-outline"></ion-icon>
    <ion-label style="margin-left: 25px; margin-right: 25px;">Cinturon Actual</ion-label>
    <!--Imagen Cinturon Alumno-->  
    <img src="https://i.imgur.com/OUjaEAU.png">
  </ion-item>
</ion-row>

  <!--Proximas Clases-->
  <ion-row >
    <ion-col style="top: 10px; padding-left: 24px">
    <h3>Clases esta semana</h3>
    <div class="bar">
      <span class="bar__hour">09:00</span>
      <div class="bar__hour__flex">
        <span class="bar__hour__small">Nombre del Profesor</span>
        <span class="bar__hour__text">Materia de la Clase</span>
      </div>
    </div>
    <br>
    <div class="bar">
      <span class="bar__hour2">11:00</span>
      <div class="bar__hour__flex">
        <span class="bar__hour__small">Nombre del Profesor</span>
        <span class="bar__hour__text">Materia de la Clase</span>
      </div>
    </div>
    </ion-col>
  </ion-row>

  <!--Siguiente Cinturon-->
  <ion-row style="padding-top: 50px; padding-left: 8px">
    <ion-card style="width: 300px; border-radius: 10px">
      <ion-item>
        <ion-label> Siguiente Cinturón</ion-label>
        <ion-button fill="outline" slot="end">Ver</ion-button>
      </ion-item>
      <ion-card-content class="ion-text-left">
        <ion-card-subtitle class="ion-text-right">10/20</ion-card-subtitle>
        <ion-progress-bar color="primary" class="pbar" value="0.9"></ion-progress-bar>
      </ion-card-content>
    </ion-card>
  </ion-row>


</ion-content>
